/home/.weechat/logs/*
/home/.weechat/weechat.log
/home/.weechat/script/plugins.xml.gz

/home/.config/Qt/
/home/.config/coc/
/home/.config/uGet/
/home/.config/pulse/
/home/.config/godot/
/home/.config/libreoffice/
/home/.config/transmission/

/home/.config/configstore/
/home/.config/vimb/

/home/.config/nvim/plugged/
/home/.config/nvim/undodir/

/home/.config/Dharkael/
/home/.config/QtProject.conf
/home/.config/glib-2.0/
/home/.config/mpv/watch_later/

/home/.config/cmus/cache
/home/.config/cmus/lib.pl
/home/.config/cmus/playlists/
/home/.config/cmus/search-history
/home/.config/cmus/command-history

/home/.config/QtProject/
/home/.config/Trolltech.conf

#/home/.config/ranger/plugins/__pycache__/*
#/home/.config/ranger/plugins/__pycache__/*.*
#/home/.config/ranger/plugins/__pycache__/**.*
#home/.config/ranger/plugins/__pycache__/__init__.cpython-36.opt-1.pyc
#home/.config/ranger/plugins/__pycache__/devicons.cpython-36.opt-1.pyc
#/home/.config/ranger/plugins/__pycache__/__init__.cpython-36.opt-1.pyc
#/home/.config/ranger/plugins/__pycache__/devicons.cpython-36.opt-1.pyc
#home/.config/ranger/plugins/__pycache__/devicons_linemode.cpython-36.opt-1.pyc
#/home/.config/ranger/plugins/__pycache__/devicons_linemode.cpython-36.opt-1.pyc
