/home/.weechat/logs/*
/home/.weechat/weechat.log
/home/.weechat/script/plugins.xml.gz

/home/bin/stack

/home/.config/Qt/
/home/.config/coc/
/home/.config/git/
/home/.config/xfe/
/home/.config/vimb/
/home/.config/uGet/
/home/.config/godot/
/home/.config/pulse/
/home/.config/kindd/
/home/.config/xfce4/
/home/.config/libfm/
/home/.config/Thunar/
/home/.config/spacefm/
/home/.config/pcmanfm/
/home/.config/glib-2.0/
/home/.config/Dharkael/
/home/.config/texstudio/
/home/.config/cmus/cache
/home/.config/QtProject/
/home/.config/cmus/lib.pl
/home/.config/libreoffice/
/home/.config/configstore/
/home/.config/nvim/plugged/
/home/.config/nvim/undodir/
/home/.config/transmission/
/home/.config/QtProject.conf
/home/.config/Trolltech.conf
/home/.config/nvim/.netrwhist
/home/.config/cmus/playlists/
/home/.config/mpv/watch_later/
/home/.config/cmus/search-history
/home/.config/cmus/command-history
/home/.config/ranger/plugins/plugin_pmount_dynamic.py
/home/.config/ranger/plugins/__pycache__/plugin_pmount_dynamic.cpython-36.opt-1.pyc

#/home/.config/ranger/plugins/__pycache__/*
#/home/.config/ranger/plugins/__pycache__/*.*
#/home/.config/ranger/plugins/__pycache__/**.*
#home/.config/ranger/plugins/__pycache__/__init__.cpython-36.opt-1.pyc
#home/.config/ranger/plugins/__pycache__/devicons.cpython-36.opt-1.pyc
#/home/.config/ranger/plugins/__pycache__/__init__.cpython-36.opt-1.pyc
#/home/.config/ranger/plugins/__pycache__/devicons.cpython-36.opt-1.pyc
#home/.config/ranger/plugins/__pycache__/devicons_linemode.cpython-36.opt-1.pyc
#/home/.config/ranger/plugins/__pycache__/devicons_linemode.cpython-36.opt-1.pyc
