home/.config/ranger/plugins/__pycache__/*
#/home/.config/ranger/plugins/__pycache__/*.*
#/home/.config/ranger/plugins/__pycache__/**.*

#home/.config/ranger/plugins/__pycache__/__init__.cpython-36.opt-1.pyc
#home/.config/ranger/plugins/__pycache__/devicons.cpython-36.opt-1.pyc
#home/.config/ranger/plugins/__pycache__/devicons_linemode.cpython-36.opt-1.pyc
#home/.weechat/weechat.log

#/home/.config/ranger/plugins/__pycache__/__init__.cpython-36.opt-1.pyc
#/home/.config/ranger/plugins/__pycache__/devicons.cpython-36.opt-1.pyc
#/home/.config/ranger/plugins/__pycache__/devicons_linemode.cpython-36.opt-1.pyc

#home/.weechat/weechat.log
/home/.weechat/weechat.log
/home/.weechat/logs/*


/home/.config/pulse/

/home/.config/coc/
/home/.config/nvim/plugged/
/home/.config/nvim/undodir/

/home/.config/cmus/cache
/home/.config/cmus/lib.pl
/home/.config/cmus/playlists/
/home/.config/cmus/search-history
/home/.config/cmus/command-history
